apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: gpuchile-db-credentials
  namespace: default
spec:
  refreshInterval: 1h
  secretStoreRef:
    name: aws-secrets-manager
    kind: SecretStore
  target:
    name: db-credentials
    creationPolicy: Owner
  data:
    - secretKey: DATABASE_URL
      remoteRef:
        key: gpuchile/dev/db
        property: url
    - secretKey: SECRET_KEY
      remoteRef:
        key: gpuchile/dev/db
        property: jwt_secret
