apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    deployment.kubernetes.io/revision: "3"
    kubectl.kubernetes.io/last-applied-configuration: |
      {"apiVersion":"apps/v1","kind":"Deployment","metadata":{"annotations":{},"labels":{"app":"backend"},"name":"gpuchile-backend","namespace":"default"},"spec":{"replicas":1,"selector":{"matchLabels":{"app":"backend"}},"template":{"metadata":{"labels":{"app":"backend"}},"spec":{"containers":[{"env":[{"name":"AWS_REGION","value":"us-east-1"},{"name":"S3_BUCKET_NAME","value":"gpuchile-images-dev-nicolas-2026"},{"name":"REDIS_URL","value":"redis://redis-service.default.svc.cluster.local:6379/0"}],"envFrom":[{"secretRef":{"name":"db-credentials"}}],"image":"380002980493.dkr.ecr.us-east-1.amazonaws.com/gpuchile-backend:latest","imagePullPolicy":"Always","name":"backend","ports":[{"containerPort":8000}],"resources":{"limits":{"cpu":"500m","memory":"512Mi"},"requests":{"cpu":"250m","memory":"256Mi"}}}],"serviceAccountName":"gpuchile-backend-sa"}}}}
  creationTimestamp: "2026-02-06T15:37:14Z"
  generation: 3
  labels:
    app: backend
  name: gpuchile-backend
  namespace: default
  resourceVersion: "277635"
  uid: ffc7b80d-03f5-41bf-9233-01865a887ad7
spec:
  progressDeadlineSeconds: 600
  replicas: 1
  revisionHistoryLimit: 10
  selector:
    matchLabels:
      app: backend
  strategy:
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 25%
    type: RollingUpdate
  template:
    metadata:
      annotations:
        kubectl.kubernetes.io/restartedAt: "2026-02-06T13:27:40-03:00"
      creationTimestamp: null
      labels:
        app: backend
    spec:
      containers:
      - env:
        - name: AWS_REGION
          value: us-east-1
        - name: S3_BUCKET_NAME
          value: gpuchile-images-dev-nicolas-2026
        - name: REDIS_URL
          value: redis://redis-service.default.svc.cluster.local:6379/0
        envFrom:
        - secretRef:
            name: db-credentials
        image: 380002980493.dkr.ecr.us-east-1.amazonaws.com/gpuchile-backend:latest
        imagePullPolicy: Always
        name: backend
        ports:
        - containerPort: 8000
          protocol: TCP
        resources:
          limits:
            cpu: 500m
            memory: 512Mi
          requests:
            cpu: 250m
            memory: 256Mi
        terminationMessagePath: /dev/termination-log
        terminationMessagePolicy: File
      dnsPolicy: ClusterFirst
      restartPolicy: Always
      schedulerName: default-scheduler
      securityContext: {}
      serviceAccount: gpuchile-backend-sa
      serviceAccountName: gpuchile-backend-sa
      terminationGracePeriodSeconds: 30
status:
  availableReplicas: 1
  conditions:
  - lastTransitionTime: "2026-02-06T15:50:23Z"
    lastUpdateTime: "2026-02-06T16:27:43Z"
    message: ReplicaSet "gpuchile-backend-7875db4b66" has successfully progressed.
    reason: NewReplicaSetAvailable
    status: "True"
    type: Progressing
  - lastTransitionTime: "2026-02-06T16:52:03Z"
    lastUpdateTime: "2026-02-06T16:52:03Z"
    message: Deployment has minimum availability.
    reason: MinimumReplicasAvailable
    status: "True"
    type: Available
  observedGeneration: 3
  readyReplicas: 1
  replicas: 1
  updatedReplicas: 1
