apiVersion: v1
kind: Service
metadata:
  name: gpuchile-frontend
  namespace: default
spec:
  selector:
    app: frontend
  ports:
    - protocol: TCP
      port: 80
      targetPort: 5173
  type: LoadBalancer 